.login-btn {
	width: 7rem;
	padding: rem-calc(4) rem-calc(6);

	display: flex;

	border-radius: 22px;
	background-color: white;
	box-shadow: 0 0 1px 0px $color-dark-gray;

	align-items: center;
	justify-content: space-around;
}
.login-btn:hover {
	cursor: pointer;
}
.login-btn__default-image {
	background-image: url('../images/google_logo.png');
}
.login-btn__image, .login-btn__default-image {
	width: 2rem;
	height: 2rem;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.login-btn__text {
	margin: 0.4rem;
	color: $color-dark-gray;
}
