



.loading-indicator {
	width: 120px;
	height: 120px;

	animation: loadingIndicatorSpin 2s linear infinite;

	border: 16px solid #F3F3F3;
	border-top: 16px solid #217DBB;
	border-radius: 100%;
}

.loading-indicator-small {
	width: 60px;
	height: 60px;

	border-width: 8px;
}

@keyframes loadingIndicatorSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
