

/*
* IMPORTS
*/
/*CSS - For font icons*/
@import url('./fontello.css');

/*FONT - Merienda*/
@import url('https://fonts.googleapis.com/css?family=Merienda:400,700');

/*FONT - Berkshire Swash*/
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/*FONT - Redressed*/
@import url('https://fonts.googleapis.com/css?family=Redressed');

/*FONT - Lato*/
@import url('https://fonts.googleapis.com/css?family=Lato');


/*
* BASE
*/
html, body {
	margin: 0;
	padding: 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
	min-width: 100%;
	min-height: 100%;
	/*! background-image: url('../images/parchment.jpg'); */
	/*! background-repeat: no-repeat; */
	/*! background-attachment: fixed; */
	/*! background-position: center center; */
	/*! background-size: cover; */
	/*! box-shadow: 0 0 20px 0 black inset; */

	position: relative;

	font-family: Helvetica, Arial, sans-serif;

	color: black;
	background-color: #F6ECD5;
}

* {
	box-sizing: border-box;
}

/*
* LAYOUT
*/
.main {
	padding: 32px;
	padding-bottom: calc(32px + 108px);
}

.header {
	width: 100%;
	height: 60px;
	padding: 12px 32px;

	display: flex;

	background-color: white;

	justify-content: space-between;
	align-items: center;
}
.header__logo-text {
	font-family: 'Berkshire Swash', 'Merienda', 'Comic Sans MS', cursive, sans-serif;
	font-size: 2em;
	font-weight: bold;

	text-decoration: none;

	color: #A40802;
}

/* FOOTER */
.footer {
	width: 100%;
	height: 108px;
	padding: 6px 12px;

	position: absolute;
	bottom: 0;

	display: flex;

	font-size: 0.8em;

	background-color: #30759C;
	box-shadow: 0 0 4px 0px #757575;
}
.footer__column {
	margin-right: 24px;

	display: flex;

	flex-flow: column;
	justify-content: space-around;
}
.footer__column__title {
	font-weight: bold;

	text-decoration: underline;
}

.footer__column__title, .footer__column__entry, .footer__column__link {
	margin: 2px 6px;

	color: #F6F9C3;
}
.footer__column__entry {
}
.footer__column__link {
	text-decoration: none;
}

/* NAVIGATION BAR */
.nav-wrapper {
	display: inline-block;
}
.nav {
	display: flex;
}
.nav--large {
	align-items: center;
}
.nav--small {
	width: 100%;
	min-height: 100%;
	padding: 12px 12px;

	position: fixed;
	top: 60px;
	left: 0;

	display: none;
	flex-direction: column;

	transition-duration: 0.6s;
	transition-property: transform;
	transform: translateX(-100%);

	background-color: #F6ECD5E6;
	box-shadow: 0 0 6px 0px #ABA391;
}
.nav--small--show {
	transform: translateX(0);
}

.nav__toggle-icon {
	display: none;

	font-size: 2em;
	font-weight: bold;

	color: #A40802;
	border: none;
	background-color: white;
}

.nav__btn {
	margin: 0 12px;

	display: inline-block;

	font-family: 'Berkshire Swash', 'Merienda', 'Comic Sans MS', cursive, sans-serif;
	font-size: 1.5em;
	font-style: italic;

	text-decoration: none;

	color: #A40802;
}
.nav--large .nav__btn:hover {
	transform: scale(1.1);
}

.nav--small .nav__btn {
	margin-bottom: 22px;
}

/*
* MODULE
*/
.error-message {
	font-family: consolas, 'Courier New', 'Courier', monospace;
	font-weight: bold;
	font-style: italic;

	white-space: pre-wrap;

	color: #7B0000;
}

.story-array {
	display: flex;

	flex-wrap: wrap;
	justify-content: start;
}

/* STORY TAB */
.story-tab {
	margin: 0 12px;
	margin-bottom: 32px;
	padding: 12px;

	text-decoration: none;

	color: black;
	border-radius: 12px;
	background-color: white;
	box-shadow: 0 0 6px 0px black inset;

	flex-basis: calc(33.33333% - 24px);
}
.story-tab__title {
	margin: 0;

	font-family: Merienda;
	font-weight: bold;

	text-align: center;
	/*! background-color: white; */

	color: #30759C;
	/*! border: 1px solid black; */
	border-radius: 12px 12px 0 0;
}
.story-tab__body {
	min-height: 44px;
	margin: 0;
	/*! margin-bottom: 32px; */

	display: flex;

	font-family: 'Merienda';
	font-size: 0.8em;
	font-weight: bold;
	/*! background-color: white; */
	/*! box-shadow: 0 0 20px 2px black inset; */

	justify-content: center;
	align-items: center;
}


/* STORY PAGE */
.story {
	width: 100%;
	height: 80%;
	margin: 0 auto;
	padding: 12px;

	overflow-y: auto;

	/*! border: 2px solid #A59D8B; */
	/*! border-radius: 12px; */
	/*! background-color: white; */
	/*! box-shadow: 0 0 8px 0px #A59D8B; */
}

.story__title {
	margin: 0;

	font-family: 'Merienda', 'Comic Sans MS', cursive, sans-serif;
	font-size: 1.5em;
	font-weight: bold;

	text-align: left;

	color: #30759C;
	text-shadow: 0px 2px 4px #265E7D;
}
.story__author {
	font-family: 'Merienda', 'Comic Sans MS', cursive, sans-serif;
	font-weight: bold;
	font-style: italic;

	text-decoration: underline;

	color: #A40802;
	text-shadow: 0 0 1px #A40802B3;
}

.story__body {
	display: block;

	font-family: 'Lato', helvetica, arial, sans-serif;
	line-height: 150%;

	white-space: pre-wrap;

	box-shadow: none;
	text-shadow: 0 0 2px #7B7B7B;
}

/* SUBMIT PAGE*/
.submit {
	width: 80%;
	max-height: 100%;
	margin: 0 auto;
	padding: 12px;
	/*! box-shadow: 0 0 7px 0px black inset; */

	border: 2px solid #A59D8B;
	/*! border: 1px solid black; */
	border-radius: 12px;
	background-color: white;
	box-shadow: 0 0 8px 0px #A59D8B;
}
.submit__error {
	margin: 12px 0 0 0;

	white-space: pre-wrap;

	color: #A40802;
}
.submit__title, .submit__author {
	width: 80%;
	padding-left: 6px;

	font-family: 'Merienda', 'Comic Sans MS', cursive, sans-serif;
	font-size: 1.5em;
	font-weight: bold;

	color: #30759C;
	border: none;
	background-color: #F6ECD5;
	box-shadow: 0 0 3px 0px black inset;
}
.submit__body {
	width: 100%;
	max-width: 100% !important;
	min-height: 400px;
	max-height: 600px;
	padding: 6px;

	overflow-y: auto;

	font-size: 1.2em;
	line-height: 150%;

	border: none;
	background-color: #F6ECD5;
	box-shadow: 0 0 3px 0px black inset;
}
.submit__send-btn {
	margin: 12px 0;
	padding: 6px 24px;

	display: block;

	font-size: 1.3em;
	font-weight: bold;

	color: white;
	border: none;
	border: 1px solid #265E7D;
	border-radius: 6px;
	background-color: #30759C;
	box-shadow: 0 0 4px 0px #3E3E3E;
	text-shadow: 1px 1px 4px #265E7D;
}
.submit__send-btn:hover {
	cursor: pointer;
	transform: scale(1.01);
}


.account__title {
	font-family: 'Merienda', 'Comic Sans MS', cursive, sans-serif;
	font-size: 1.5em;
	font-weight: bold;

	color: #A40802;
}

/* LOGIN BUTTON */
.login-btn {
	width: 100px;
	margin: 4px 0;
	padding: 0px;
	padding: 4px 6px;

	display: flex;

	border-radius: 22px;
	background-color: white;
	box-shadow: 0 0 3px 0px #757575;

	align-items: center;
	justify-content: space-around;
}
.login-btn:hover {
	cursor: pointer;
}
.login-btn__default-image {
	background-image: url('../images/google_logo.png');
}
.login-btn__image, .login-btn__default-image {
	width: 30px;
	height: 30px;

	display: inline-block;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.login-btn__text {
	margin: 4px;

	display: inline-block;

	font-family: 'Berkshire Swash', 'Merienda', 'Comic Sans MS', cursive, sans-serif;

	vertical-align: top;

	color: #A40802;
}

/*
* OTHER
*/
.full-height {
	/*! min-height:100%; */
	/*! height: 100%; */
}

/*
* THEME
*/


/*
* QUERY
*/
@media (max-width: 760px) {
	.story-tab {
		flex-basis: calc(50% - 24px);
	}

	.submit {
		width: 100%;
	}
	.submit__title {
		width: 100%;
		padding: 8px 0 8px 12px;
	}
	.submit__body {
		padding: 8px;
	}

	.header {
		padding-right: 9px;
		padding-left: 9px;
	}
	.nav--large .nav__btn {
		margin: 0 16px 0 0;

		font-size: 1.2em;
	}
}

@media (max-width: 520px) {
	.main {
		padding-top: calc(32px + 60px);
		padding-right: 6px;
		padding-left: 6px;
	}

	.footer {
		font-size: 0.7em;
	}

	.story-tab {
		flex-basis: calc(100%);
	}

	.submit__send-btn {
		margin: 24px 0 12px 0;
		padding: 12px 24px;
	}

	.header {
		position: fixed;
	}

	.nav--large {
		display: none;
	}
	.nav--small {
		display: flex;
	}
	.nav__toggle-icon {
		display: initial;
	}
}

@media (max-width: 460px) {
}
